.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.band-card {
  width: 31%;
  min-width: 230px;
  font-size: .8em;
  margin: .3em;
  padding-top: .4em;
  background-color: #fee;
  -webkit-box-shadow: 9px 9px 9px -6px rgba(0,0,0,0.69);
  -moz-box-shadow: 9px 9px 9px -6px rgba(0,0,0,0.69);
  box-shadow: 9px 9px 9px -6px rgba(0,0,0,0.69);
}

.band-image {
  width: 100%;
  height: auto;
  min-width: 230px;
}

.band-members {
  margin: .5em;
}

.band-story {
  padding: 1em;
  font-size: .9em;
}
